@font-face{font-family:iconfont;display:swap;src:url(../fonts/iconfont.woff2) format('woff2'),url(../fonts/iconfont.woff) format('woff'),url(../fonts/iconfont.ttf) format('truetype')}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-pinterest:before{content:"\e698"}
.icon-tiktok:before{content:"\e601"}
.icon-date:before{content:"\e697"}
.icon-website:before{content:"\e629"}
.icon-wechat:before{content:"\e884"}
.icon-address:before{content:"\e683"}
.icon-qq:before{content:"\e623"}
.icon-teams:before{content:"\ec1b"}
.icon-snapchat:before{content:"\e7aa"}
.icon-weixin:before{content:"\ec1c"}
.icon-youtube:before{content:"\e883"}
.icon-skype:before{content:"\e882"}
.icon-whatsapp:before{content:"\e97b"}
.icon-vkontakte1:before{content:"\e735"}
.icon-vkontakte:before{content:"\e863"}
.icon-instagram:before{content:"\e88f"}
.icon-twitter:before{content:"\e60b"}
.icon-angle-down:before{content:"\e614"}
.icon-google:before{content:"\e615"}
.icon-map:before{content:"\e616"}
.icon-commenting:before{content:"\e617"}
.icon-email:before{content:"\e618"}
.icon-gongsi:before{content:"\e619"}
.icon-emizhifeiji:before{content:"\e61a"}
.icon--daoru:before{content:"\e61b"}
.icon-angle-right:before{content:"\e61c"}
.icon-arrowright:before{content:"\e61d"}
.icon-arrowleft:before{content:"\e61e"}
.icon-caret-down:before{content:"\e61f"}
.icon-angle-up:before{content:"\e620"}
.icon-angle-left:before{content:"\e621"}
.icon-email1:before{content:"\e622"}
.icon-Map-:before{content:"\e602"}
.icon-fax:before{content:"\e603"}
.icon-calendar:before{content:"\e604"}
.icon-mobile:before{content:"\e605"}
.icon-phone1:before{content:"\e606"}
.icon-play:before{content:"\e607"}
.icon-phone:before{content:"\e608"}
.icon-search:before{content:"\e609"}
.icon-xiangyoujiantou:before{content:"\e60a"}
.icon-mapmarker:before{content:"\e60c"}
.icon-view:before{content:"\e60d"}
.icon-search1:before{content:"\e60e"}
.icon-facebook:before{content:"\e60f"}
.icon-envelope:before{content:"\e610"}
.icon-jiantou4:before{content:"\e611"}
.icon-home:before{content:"\e612"}
.icon-linkedin:before{content:"\e613"}
.icon-user:before{content:"\e600"}
